<div class="container">
  <h6>Mostrar por:</h6>
  <div data-controller="table-filter" data-table-filter-url="<%= status_filter_path %>">
    <div class="form-group" id="filters">
      <input name="status" value="both" type="checkbox" data-action="table-filter#change" class="form-check-input" checked/>Todos
      <input name="status" value="active" type="checkbox" data-action="table-filter#change" class="form-check-input"/>Activos
      <input name="status" value="inactive" type="checkbox" data-action="table-filter#change" class="form-check-input"/>Inactivos
    </div>
  </div>
</div>
