<div id="<%= dom_id employee %>">
  <p>
    <strong>Employee id card:</strong>
    <%= employee.employee_id_card %>
  </p>

  <p>
    <strong>Employee status:</strong>
    <%= employee.employee_status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= employee.user_id %>
  </p>

</div>
