<main class="main main-form bg-mandala container">
  <h1 class="mb-5 uppercase">Editar <%= @employee.employee_type == "Trabajador" ? "empleado" : "administrador" %></h1>
  <%= render "form", employee: @employee %>
</main>
