<main class="container main main-form">
  <h1 class="mb-1 uppercase text-center">Información del <%= @employee.employee_type %></h1>
  <hr class="mb-5">
    
  <%= render @employee %>
  
  <div>
    <%= link_to "Regresar", :back, class: "btn-default btn-back" %>
  </div>
</main>
