<label class="form__input-label">Historial de observaciones</label>
<textarea class="form__input-textarea" rows="6" disabled>
  <% if @request.task_observations.empty? %>
    &bull;&nbsp;&nbsp;No hay observaciones por el momento
  <% else %>
    <% ((@request.task_observations).sort_by(&:created_at).reverse).each do |o| %>
      &bull;&nbsp;&nbsp;[<%= o.created_at.strftime("%d/%m/%Y %I:%M %p") %>] - <%= o.user_account.name %>: <%= o.description %>
    <% end %>
  <% end %>
</textarea>