<main class="main">
  <div class="container form">
    <h1 class="form__heading"><%= (current_user_account.role == "admin") ? "Seguimiento de solicitud" : "Trabajo asignado" %></h1>
    <hr class="mb-3">

    <% if current_user_account.role != "worker" %>
      <%= render "/tasks/admin_views/admin_view" %>
    <% else %>
      <%= render "/tasks/employee_views/employee_view" %>
    <% end %>
  </div>
</main>