<main class="main">
  <div class="container form">
    <h1 class="form__heading">Atender solicitud</h1>
    <hr class="mb-3">

    <%= render "requests/shared_views/request-summary", request: @request %>
    <hr class="mb-3">

    <h3 class="form__subheading fw-bold">Asignar trabajadores</h3>  

    <div id="add-employees">
      <%= render "/tasks/admin_views/employee_list", task: @task, request: @request, list_type: "add" %>
    </div>
  </div>
</main>

<script>
  document.getElementById("d-none").style.display = "block";
</script>