<% if @request.status != "completed" && @request.status != "closed" %>
  <div id="remove-employees">
    <h3 class="form__subheading form__subheading--table text-left fw-normal">Trabajadores asignados</h3>
    <%= render "/tasks/admin_views/employee_list", task: @task, request: @request, list_type: "remove" %>
  </div>

  <div id="add-employees" class="mt-5 pt-2">
    <h3 class="form__subheading form__subheading--table text-left fw-normal">Trabajadores no asignados</h3>
    <%= render "/tasks/admin_views/employee_list", task: @task, request: @request, list_type: "add" %>
  </div>
<% end %>