<tr>
  <td class="text-center"><%= employee.employee_id_card %></td>
  <td class="text-center"><%= employee.user_account.name %></td>
  <% if list_type == "remove" %>
    <td class="text-center">
      <% if employee.tasks.where(:request_id => @request.id).first.status != "pending" %>
        Sí
      <% else %>
        No
      <% end %>
    </td>
  <% end %>
  <% if @request.status != "completed" && @request.status != "closed" %>
    <td class="text-center">
      <%= check_box_tag "selected_employees_to_#{list_type}[]", employee.id %>
    </td>
  <% end %>
</tr>
