<tr>
  <td class="form__table-data"><%= employee.id_card %></td>
  <td class="form__table-data"><%= employee.name %></td>
  <% if @request.status != "completed" && @request.status != "closed" %>
    <td class="form__table-data">
      <%= check_box_tag "selected_employees_to_#{list_type}[]", employee.id %>
    </td>
  <% end %>
</tr>
