<footer class="footer">
    <div class="container footer-content">
        <div class="footer-left-side">
            <div class="footer-logo">
                <%= image_tag 'footer-logo.svg', :alt=> 'logo footer' %>
            </div>
            <div class="footer-info">
                <p>Oficina de Servicios Generales, Universidad de Costa Rica. 
                <br> Edificio Saprissa, San José, Costa Rica. 
                Teléfonos: 2511-3652 / 2511-6765
                <br> Correo electrónico: servicios.generales@ucr.ac.cr</p>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 OSG UNIVERSIDAD DE COSTA RICA</p>
        </div>
    </div>
</footer>