<footer class="footer">
    <div class="container footer__content">
        <div class="footer__left">
            <div class="footer__logo">
                <%= image_tag 'footer-logo.svg', :alt=> 'logo footer' %>
            </div>
            <div class="footer__info">
                <p class="footer__paragraph">Oficina de Servicios Generales, Universidad de Costa Rica, Sede Occidente.
                <br>Teléfonos: 2511 7035 / 2511 7028.
                <br>Correo electrónico: servicios.generales@ucr.ac.cr</br>
            </div>
        </div>
        <div class="footer__copyright">
            <p class="footer__paragraph">&copy; <%= Date.current.year %> SO-OSG UNIVERSIDAD DE COSTA RICA</p>
        </div>
    </div>
</footer>