<h1>Solicitud aceptada</h1>

<p>
  Este correo fue generado por el Sistema de Servicios Generales para indicar que su solicud fue aceptada.
</p>
<p>
  Para observar el desarrollo de la solicitud, ingrese al siguiente enlace: <%= request_url(@request) %>
</p>