<main class="main">
  <div class="container form">
    <h1 class="form__heading">Rechazo de solicitud</h1>
    <hr class="mb-3">

    <%= render @request %>

    <%= render "requests/admin_views/request_reasons", request: @request, type: "deny" %>
  </div>
</main>