<main class="main main-form container">
  <h1 class="text-center mb-5 uppercase">Lista de solicitudes</h1>

  <div class="list-content">
    <%= render 'requests/navigation' %>

    <div class="request-list-border" style="background-color: var(--light-color-hover);">
      <h3 class="fw-bold pt-5 pb-4 fs-rg text-center">
        <% case @status
          when "in_process" %> Solicitudes en Proceso
        <% when "completed" %> Solicitudes Finalizadas
        <% when "closed" %> Solicitudes Cerradas
        <% when "denied" %> Solicitudes Rechazadas
        <% else %> Solicitudes Pendientes
        <% end %>
      </h3>
    </div>
    <div class="request-list-table">
        <%= render partial: 'request_list', locals: {requests: @requests} %>
    </div>
  </div>
</main>