<main class="main">
  <div class="container form">
    <h1 class="form__heading">Lista de solicitudes</h1>

    <div class="mt-5 py-3">
      <%= render 'requests/navigation' %>

      <div class="request-list__header">
        <h3 class="request-list__subheading">
          <% case @status
            when "in_process" %> Solicitudes en Proceso
          <% when "completed" %> Solicitudes Finalizadas
          <% when "closed" %> Solicitudes Cerradas
          <% when "denied" %> Solicitudes Rechazadas
          <% else %> Solicitudes Pendientes
          <% end %>
        </h3>
      </div>

      <%= render partial: 'request_list', locals: { requests: @requests } %>

      <% if !@requests.nil? && @requests.size == 0 %>
        <p class="form__table form__table--empty"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;No hay solicitudes para mostrar</p>
      <% end %>
    </div>
  </div>
</main>