<%= render @request %>
<div class="container mt-3 mb-3 ">
  <div class="position-relative mt-3">
    <div class="position-absolute end-50">
      <%= link_to requests_path, class: "btn btn-primary" do %>
        <i class="bi bi-arrow-bar-left"></i>
        Volver
      <% end %>
    </div>
  </div>
</div>
