<main class="main">
  <div class="container main-form">
    <h1 class="text-center uppercase">Estado de solicitud</h1>

    <hr class="mt-4 mb-3">

    <%= render @request %>

    <div class="button-group form-buttons">
      <% if @request.feedback.nil? && @request.status == "closed"%>
        <%= link_to new_feedback_path(:request_id => @request.id), class: "btn-default btn-submit" do %>
          <%# <i class="bi bi-clipboard2"></i> %>
          Agregar feedback
        <% end %>
      <% end %>
      <%= link_to "Regresar", root_path, class: "btn-default btn-back" %>
    </div>
  </div>
</main>