<main class="main">
  <div class="container main-form">
    <h1 class="text-center uppercase">Estado de solicitud</h1>

    <hr class="mt-4 mb-3">

    <%= render @request %>

    <div class="button-group form-buttons">
      <% if @request.feedback.nil? && @request.status == "closed"%>
        <%= link_to new_feedback_path(:request_id => @request.id), class: "btn-default btn-submit" do %>
          Agregar retroalimentación
        <% end %>
      <% end %>

      <% if @request.status =="pending" && current_user_account %>
        <%= link_to change_status_request_path(@request), class: "btn-default btn-submit" do %>
          Atender
        <% end %>
      <% end %>
      <%= link_to "Regresar", :back, class: "btn-default btn-back" %>
    </div>
  </div>
</main>