<main class="main">
  <div class="container main-homepage">
    <div class="welcome-message">
        <h1>Bienvenido/a al Sistema de Solicitudes de Servicios Generales de la Sede Occidente</h1>
    </div>
    <div class="button-group align-center">
        <%= link_to new_request_path, class:"btn-default btn-light" do %>
          <%# <i class="bi bi-bookmark-plus"></i>&nbsp; %>
          Crear una nueva solicitud
        <% end %>
        <%= link_to ask_state_path, class:"btn-default btn-light" do %>
          <%# <i class="bi bi-search"></i>&nbsp; %>
          Consultar estado de una solicitud
        <% end %>
    </div>    
  </div>
</main>
