<main class="main">
  <div class="homepage container">
    <div class="homepage__message">
      <h1 class="homepage__heading">Bienvenido/a al Sistema de Solicitudes de Servicios Generales de la Sede Occidente</h1>
    </div>

    <div class="button-group button-group--homepage">
      <%= link_to new_request_path, class:"homepage__button" do %>
          Crear una nueva solicitud
      <% end %>
      <%= link_to ask_state_path, class:"homepage__button" do %>
        Consultar estado de una solicitud
      <% end %>
    </div>
  </div>
</main>