<p>Bienvenido <%= @email %>!</p>

<p>Se le ha resgistrado en el sistema solicitudes de Servicios Generales.</p>

<p>Para confirmar su cuenta, por favor haga click en el siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
