<h1>Reasignado a solicitud</h1>

<p>
  Hola <%= @worker.name %>, este correo fue generado para indicarle que se le ha asignado a la solicitud <%= @request.identifier %>.
</p>
<p>
  Para ver la solicitud, ingrese al sistema y diríjase a la sección de solicitudes asignadas.
</p>
</br>
<p>
  <%= root_url %>
</p>