<div id="<%= dom_id task_observation %>">
  <p>
    <strong>Description:</strong>
    <%= task_observation.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task_observation.user_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= task_observation.task_id %>
  </p>

</div>
