<div id="<%= dom_id feedback %>">
  <div class="form__input--mandala">
    <label class="form__input-label">Código de solicitud</label>
    <input type="text" class="form__input-textfield" value="<%= feedback.request.identifier %>" disabled>
  </div>

  <div class="form__input--mandala">
    <label class="form__input-label">Observaciones</label>
    <textarea rows="5" class="form__input-textarea" disabled><%= feedback.observations %></textarea>
  </div>

  <div class="form__input--mandala">
    <label class="form__input-label">Nivel de satisfacción</label>
    <% case feedback.satisfaction 
      when 5 %> <input type="text" class="form__input-textfield" value="Muy positivo" disabled>
      <% when 4 %> <input type="text" class="form__input-textfield" value="Positivo" disabled>
      <% when 3 %> <input type="text" class="form__input-textfield" value="Neutral" disabled>
      <% when 2 %> <input type="text" class="form__input-textfield" value="Negativo" disabled>
      <% else %> <input type="text" class="form__input-textfield" value="Muy negativo" disabled>
    <% end %>
  </div>

  <%= link_to "Regresar", :back, class: "form__button-back mt-4" %>
</div>
