<div id="<%= dom_id feedback %>">
  <p>
    <strong>Observations:</strong>
    <%= feedback.observations %>
  </p>

  <p>
    <strong>Satisfaction:</strong>
    <%= feedback.satisfaction %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= feedback.request_id %>
  </p>

</div>
