<main class="main">
  <div class="container form form--mandala">
    <h1 class="form__heading--mandala">Retroalimentación</h1>

    <%= render "form", feedback: @feedback, request: @request %>
  </div>
</main>


