<div>
  <div class="container m-3">
    <%= render "/requests/request", request: @request %>
  </div>
  <div class="container m-3">
    <%= render 'tasks/shared_views/observations' %>
  </div>
  <%= link_to  change_status_request_path(@request, :task_id => @task), class: "btn btn-primary" do %>
    <i class="bi bi-check2-square"></i>
    Finalizar trabajo
  <% end %>
</div>
