<div class="btn-group">
  <% case request.status
     when "in_process" %>
    <%= link_to edit_task_path(request: request), class: "btn btn-sm btn-primary" do %>
      <i class="bi bi-pencil-square"></i>
      Atender
    <% end %>
    <%= link_to "#", class: "btn btn-sm btn-primary" do %>
      <i class="bi bi-check-square"></i>
      Finalizar
    <% end %>
  <% end %>
</div>
