<div class="btn-group">
  <% case request.status
   when "in_process" %>
  <%= link_to "Atender", edit_task_path(request: request), class: "btn-default btn-submit desktop-display" %>
  <%= link_to edit_task_path(request: request), class: "btn-default btn-submit mobile-display" do %>
    <i class="bi bi-pencil-square"></i>
  <% end %>
<% end %>
</div>
