/*---------------------
-- CUSTOM PROPERTIES --
-----------------------*/
:root {
    /* Color Palette */
    --primary-color: #4AACE1;
    --primary-color-hover: #2a80ac;

    --secondary-color: #313232;
    --secondary-color-hover: #1a1a1a;

    --light-color: #f8f8f8;
    --light-color-hover: #dddddd;

    --light-gray: #ececec;
    --light-gray-hover: #d1d1d1;

    --gray-color: #A9A9A9;
    --gray-color-hover: #969696;

    --dark-gray: #5e5e5e;

    --dark-color: #4A4A4B;
    --dark-color-hover: #2a2a2a;

    --navbar-color: rgba(0, 93, 163, .65);
    --navbar-color-hover: rgba(0, 93, 163, .85);

    --blur-background: rgba(70, 69, 69, 0.158);

    --sucess-color: #4CAF50;
    --success-color-hover: #328336;

    --warning-color: #E79800;
    --danger-color: #c92a19;
    --danger-color-hover: #b62515;

    /* Border radius */
    --border-radius-sm: .5rem;
    --border-radius-rg: 1rem;
    --border-radius-lg: 2rem;

    /* Font size (mobile first) */
    --fs-h1: 3.2rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-regular: 1.6rem;

    /* Font weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold-rg: 700;
    --fw-bold-lg: 900;

    /* Line Heights */
    --lh-rg: 1.5;
    --lh-lg: 2;

    /* Font family */
    --font-family: 'Open Sans', sans-serif;

    /* Spacing */
    --section-spacing: 5rem;
    --element-spacing: 2.5rem;

    /* Paddings */
    --btn-padding: .7rem 2rem;

    /* Transition */
    --hover-transition: background-color .2s ease;
    --hover-transition-2: background-color .5s ease;

    /* Box shadow */
    --box-shadow-sm: 0 5px 5px rgba(0, 0, 0, 0.100);
    --box-shadow-rg: 0px 7px 7px rgba(0, 0, 0, 0.300);

    /* Blur */
    --blur: blur(2px);
    --blur-background: rgba(70, 69, 69, 0.158);

}

/*--------------------
--- HTML STRUCTURE ---
----------------------*/
html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    /* Font */
    line-height: var(--lh-rg);
    font-size: var(--fs-regular) !important;
    color: var(--secondary-color);
    font-weight: var(--fw-regular);
    font-family: var(--font-family);
    
    /* Background */
    background-color: var(--light-color);
    
    /* Positioning */
    min-height: 100vh;
    position: relative;
}
/*-------------------
--- GLOBAL STYLES ---
---------------------*/
h1,
h2,
h3 {
    font-weight: var(--fw-bold-lg);
    line-height: var(--lh-lg);
    color: var(--dark-gray);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

@media (min-width: 768px) {
    h1 {
        font-size: calc(var(--fs-h1) * 1.3);
    }

    h2 {
        font-size: calc(var(--fs-h2) * 1.5);
    }
    
    h3 {
        font-size: calc(var(--fs-h3) * 1.3);
    }
}

label {
    color: var(--dark-gray);
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: var(--dark-gray);
}

a:hover {
    color: var(--primary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, 
select {
    color: var(--dark-gray);
}

button, 
input[type="submit"] {
    font-size: var(--fw-regular);
    font-family: var(--font-family);
    border: none;
    cursor: pointer;
    margin: 0;
}

@media (min-width: 300px) and (max-width: 992px) {
    button, 
    input[type="submit"] {
        width: 100%;
    }
}

/*-------------------
----- UTILITIES -----
---------------------*/
.container {
    max-width: 140rem;
    margin: 0 auto;
}

.text-center {
    text-align: center !important;
}

.border-bottom-2 {
    border-bottom: 1px solid #000 !important;
}

.responsive-divider {
    border-bottom: 1px solid var(--light-gray-hover);
    padding-bottom: 1.8rem;
}

.responsive-divider:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

@media (min-width: 992px) {
    .responsive-divider {
        border-bottom: none;
        border-right: 1px solid var(--light-gray-hover);
        padding-right: 1.8rem;
        margin-top: 3rem;
    }

    .responsive-divider:last-child {
        border-right: none;
        padding-right: 0;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.fs-sm {
    font-size: 1.2rem;
}

.fs-rg {
    font-size: 1.8rem;
}

.fs-lg {
    font-size: 2.4rem;
}

@media (min-width: 768px) {
    .fs-sm {
        font-size: 1.6rem !important;
    }
    
    .fs-rg {
        font-size: 2.1rem !important;
    }
    
    .fs-lg {
        font-size: 3rem !important;
    } 
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-color {
    background-color: var(--light-color);
}

.bg-image {
    background-image: url(../images/bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

.bg-height {
    min-height: 100%;
}

@media (min-width: 768px) {
    .bg-image {
        background-position: bottom;
    }
}

.main {
    margin: 5rem 1.2rem;
}

.bottom-shadow-sm {
    box-shadow: var(--box-shadow-sm);
}

.bottom-shadow-rg {
    box-shadow: var(--box-shadow-rg);
}

.mobile-d-block {
    display: block;
}

@media (min-width: 768px) {
    .mobile-d-block {
        display: inline;
    }
}

.btn-default {
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--btn-padding);
    font-weight: var(--fw-bold-lg);
    border-radius: var(--border-radius-sm);
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
    transition: var(--hover-transition);
    -webkit-transition: var(--hover-transition);
    -moz-transition: var(--hover-transition);
    -ms-transition: var(--hover-transition);
    -o-transition: var(--hover-transition);
}

@media (min-width: 992px) {
    .btn-default {
        width: auto;
        display: inline-block;
    }
}

.btn-light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.btn-light:hover {
    background-color: var(--light-color-hover);
    color: var(--dark-color-hover)
}

.btn-dark {
    background-color: var(--dark-color-hover);
    color: var(--light-color);
}

.btn-dark:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-submit:hover {
    background-color: var(--primary-color-hover);
    color: var(--light-color);
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--light-color);
}

.btn-danger:hover {
    background-color: var(--danger-color-hover);
    color: var(--light-color);
}

.btn-logout {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 992px) {
    .btn-logout {
        margin: unset;
        text-align: left;
    }
}

.btn-logout:hover {
    background-color: var(--light-color-hover);
    color: var(--dark-color-hover)
}

.btn-back {
    background-color: var(--gray-color);
    color: var(--light-color);
}

.btn-back:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

@media (min-width: 768px) and (max-width: 992px) {
    .btn-submit {
        font-size: 1.43rem;
    }

    .btn-back {
        font-size: 1.43rem;
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--element-spacing) 0;
}

@media (min-width: 300px) and (max-width: 992px) {
    .button-group {
        max-width: 90%;
        margin: 0 auto;
    }
}

.button-group a:first-child {
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    .button-group {
        flex-direction: row;
        justify-content: center;
        margin: unset;
        margin-top: var(--element-spacing);
    }

    .button-group a:first-child {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

.bg-mandala {
    background-image: linear-gradient(to top, transparent 50%, var(--light-gray) 0%), url(/assets/bg-form-rotated.png);
    background-position: center, bottom;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 100% auto;
}


@media (min-width: 992px) {
    .bg-mandala {
        background-image: url(/assets/bg-form.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

/*--------------------
------- HEADER -------
----------------------*/
.header {
    background-color: var(--primary-color);
    padding: 1.5rem .7rem;
}

.header-nav {
    background-color: var(--light-color);
    line-height: 1;
}

.header-nav a {
    color: var(--light-color) !important;
    font-size: 1.6rem !important;
    padding: 1.5rem 0 !important;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 992px) {
    .navbar {
        justify-content: flex-start;
        margin: unset;
        text-align: left;
    }
}

.navbar-bg {
    background-color: var(--navbar-color) !important;
}

@media (min-width: 992px) {
    .nav-flex {
        display: flex;
        justify-content: center;
    }  
}

@media (min-width: 992px) {
    .nav-item {
        display: inline-block;
        border-left: 1px solid #15aedd;
        height: 50%;
        padding: 0 2rem;
        transition: var(--hover-transition-2);
        -webkit-transition: var(--hover-transition-2);
        -moz-transition: var(--hover-transition-2);
        -ms-transition: var(--hover-transition-2);
        -o-transition: var(--hover-transition-2);
    }

    .nav-item:hover,
    .nav-item:active {
        background-color: var(--navbar-color-hover);
    }

    .nav-item:first-child {
        border-left: none;
    }
}

.toggler {
    width: unset;
}

@media (min-width: 992px) {
    .toggler {
        display: none;
    }
}

.dropdown-menu {
    background-color: var(--navbar-color-hover) !important;
    text-align: center !important;
}

.dropdown-menu a {
    padding: 1rem 3rem !important;
}

.dropdown-menu a:hover {
    background-color: var(--primary-color) !important;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo:last-child {
    margin: 1.5rem 0;
    width: 80%;
}

.menu-logo {
    width: 25px;
}

@media (min-width: 375px) and (max-width: 475px) {
    .login-btn {
        max-width: 78%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .logo:last-child {
        width: 40%;
    }
}

@media (min-width: 580px) and (max-width: 992px) {
    .header-content {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .login-btn {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logos {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo:last-child {
        margin: .5rem 1rem 0 1rem;
        width: unset;
    }
}

/*--------------------
------- FOOTER -------
----------------------*/
.footer {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 1rem .7rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-content p {
    margin: calc(var(--element-spacing) - 1rem) 0;
}

.footer-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-content p {
        margin: 0;
        text-align: left;
    }

    .footer-left-side {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-copyright p {
        text-align: right;
    }
}

/*-------------------
------- INDEX -------
---------------------*/
.main-homepage {
    margin: 3rem 0;
    padding: 1rem .7rem 4rem .7rem;
    backdrop-filter: var(--blur);
    background-color: var(--blur-background);
    box-shadow: var(--box-shadow-rg);
    border-radius: var(--border-radius-rg);
    -webkit-border-radius: var(--border-radius-rg);
    -moz-border-radius: var(--border-radius-rg);
    -ms-border-radius: var(--border-radius-rg);
    -o-border-radius: var(--border-radius-rg);
}

@media (min-width: 668px) {
    .main-homepage {
        width: 70%;
        padding: 5rem 3rem;
    }
}

@media (min-width: 992px) {
    .main-homepage {
        width: 65% !important;
        padding: 5rem 7rem;
        margin: 0;
    }
}

.welcome-message h1 {
    text-align: center;
    color: var(--light-color);
    font-weight: 900;
    line-height: var(--lh-rg);
    margin: 3rem 0 5rem 0;
    padding: 0 4rem;
}

@media (min-width: 768px) {
    .welcome-message h1 {
        margin: 0rem 0 5rem 0;
    }
}

@media (min-width: 992px) {
    .welcome-message h1 {
        font-size: 4rem;
    }
}

/*-----------------------
------- MAIN FORM -------
-------------------------*/
.main-form {
    max-width: 50rem !important;
    padding: 5rem 4rem !important;
    text-align: center;
    background-color: var(--light-gray);
    border-radius: var(--border-radius-rg);
    -webkit-border-radius: var(--border-radius-rg);
    -moz-border-radius: var(--border-radius-rg);
    -ms-border-radius: var(--border-radius-rg);
    -o-border-radius: var(--border-radius-rg);
    box-shadow: var(--box-shadow-sm);
}

@media (min-width: 992px) {
    .main-form {
        max-width: 130rem !important;
        padding: 9rem 10rem !important;
    }

    .form-pad-lg {
        padding: 13rem 9rem;
    }

}

.main-form h1 {
    line-height: 1.2;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
}

.main-form h2 {
    line-height: 1.2;
    font-size: 2rem;
}

.main-form h3 {
    line-height: 1.2;
    font-size: 1.8rem;
}

.main-form input, 
.main-form label,
.main-form p {
    font-size: 1.6rem;
}

@media (min-width: 992px) {
    .main-form {
        text-align: left;
    }

    .main-form h1 {
        text-align: left;
        font-size: var(--fs-h1);
    }

    .main-form h2 {
        font-size: var(--fs-h2);
    }
    
    .main-form h3 {
        font-size: var(--fs-h3);
    }

    .main-form input,
    .main-form label,
    .main-form p {
        font-size: var(--fs-rg);
    }
}

.input {
    text-align: left;
    padding: 0rem .8rem;
}

.input input,
.input select,
.input textarea {
    width: 100%;
    display: block;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0 3rem 0;
    border: 1px solid var(--light-gray);
    background-color: var(--light-color);
    border-radius: var(--border-radius-sm);
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
}

.input textarea {
    resize: none;
}

@media (min-width: 992px) {
    .input {
        padding: unset;
    }

    .input input,
    .input select {
        margin: 1rem 0 5rem 0;
    }  
}

.form-buttons input[type="submit"] {
    margin: 1.2rem 0;
}

/* @media (min-width: 768px) and (max-width: 992px) {
    .form-buttons {
        max-width: 35%;
    }
} */

@media (min-width: 992px) {
    .input-50 {
        width: 50%;
    }

    .form-buttons {
        justify-content: flex-start;
        margin-top: 3rem;
    }

    .form-buttons input[type="submit"] {
        margin: unset;
        margin-right: 1.2rem;
    }
}


/*-------------------
------- LOGIN -------
---------------------*/
.login-links {
    margin: 2.2rem 0;
}

.login-links a {
    color: var(--dark-gray) !important;
}

.login-links a:hover {
    color: var(--primary-color) !important;
}

.remember-me {
    margin-bottom: 1rem;
}

/*---------------------
------- REQUEST -------
-----------------------*/
@media (min-width: 768px) and (max-width: 992px) {
    .form-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: .5rem;
    }

    .form-grid-2 .input:nth-child(3) {
        grid-column: 1 / 4;
    }
}

@media (min-width: 992px) {
    .form-grid-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form-grid-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .form-grid-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form-grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form-grid-5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form-grid-5 .input:nth-child(3) {
        grid-column: 1 / 4;
    }
}
/*----------------------------
------- REQUEST STATUS -------
------------------------------*/
@media (min-width: 992px) {
    .status-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.pending-request {
    font-weight: var(--fw-bold-rg);
    color: var(--primary-color);
    text-transform: uppercase;
}

.inprogress-request {
    font-weight: var(--fw-bold-rg);
    color: var(--warning-color);
    text-transform: uppercase;
}

.finished-request {
    font-weight: var(--fw-bold-rg);
    color: var(--sucess-color);
    text-transform: uppercase;
}

.closed-request {
    font-weight: var(--fw-bold-rg);
    color: var(--success-color-hover);
    text-transform: uppercase;
}

.rejected-request {
    font-weight: var(--fw-bold-rg);
    color: var(--danger-color);
    text-transform: uppercase;
}

.reject-reasons {
    margin-bottom: 3rem;
    width: 98%;
}

.reject-reasons h3 {
    text-transform: uppercase;
}

.reject-reasons textarea {
    padding: 2rem .5rem;
}

@media (min-width: 768px) {
    .reject-reasons textarea {
        padding: 2rem 3rem;
    }
}

@media (min-width: 992px) {
    .reject-reasons {
        width: 60%;
        margin: 0 auto;
    }
}

.reasons {
    padding: 2rem 3rem;
    background-color: var(--light-color);
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius-sm);
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
}

.reasons p {
    margin: .5rem 0;
    font-size: var(--fs-rg);
    color: var(--dark-gray);
}


/*---------------------
------- REPORTS -------
-----------------------*/
.filters-title {
    text-align: left !important;
    padding-left: 1rem;
}

@media (min-width: 992px) {
    .filters-title {
        padding: unset;
    }
}

.search-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
    .search-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: .5rem;
    }

    .search-grid .input:nth-child(1) {
        grid-column: 1 / 3;
    }

    .search-buttons {
        grid-column: 1 / 3;
        padding: 0 .7rem;
    }
}

@media (min-width: 992px) {
    .search-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .search-grid .input input,
    .search-grid .input select {
        margin: unset;
        margin: 2rem 0;
    }

    .search-buttons {
        grid-column: 3 / 4;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .mobile-display {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .tablet-display {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .tablet-display {
        display: table-cell;
    }
}

@media (max-width: 992px) {
    .desktop-display {
        display: none;
    }
}

.report-actions {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

@media (min-width: 992px) {
    .report-actions {
        flex-direction: row;
    }
}

/*--------------------------------
------- NEW EMPLOYEE/ADMIN -------
----------------------------------*/
.input .input-form-check {
    margin: 1rem 0;
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .input .input-form-check {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }    
}

.input .form-check {
    padding: unset;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .input .form-check {
        margin-right: 1.5rem;
    }
}

.input .form-check label {
    margin-left: .7rem;
}

.input .form-check input[type="radio"] {
    width: auto;
    margin: unset;
    padding: 1rem;
}

/*--------------------------
------- REQUEST LIST -------
----------------------------*/
.list-content {
    margin-top: 5rem;
}

ul.nav.nav-tabs {
    border: 1px solid #cbcdcb;
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    ul.nav.nav-tabs {
        flex-direction: row;
        border: none;
        border-bottom: 1px solid #cbcdcb;
    }    
}

.nav-item-tab {
    font-size: 1.8rem;
}

.nav-item-tab .nav-link {
    padding: 1.2rem 3rem 1rem;
    color: var(--dark-color);
}

li.nav-item-tab a.nav-link:hover {
    color: inherit;
    border: 1px solid #cbcdcb;
}

.nav-item-tab .nav-link.link-active {
    background-color: var(--light-color-hover);
    font-weight: var(--fw-bold-rg);
    border: 1px solid #cbcdcb;
}

.nav-item-tab .nav-link.link-active:hover {
    border: 1px solid #cbcdcb;
    color: inherit;
}

@media (min-width: 992px) {
    .nav-item-tab .nav-link.link-active {
        border-bottom: 1px solid var(--light-color-hover);
    }

    .nav-item-tab .nav-link.link-active:hover {
        border-bottom: 1px solid var(--light-color-hover);
    }
}

.request-list-border {
    border: 1px solid #cbcdcb;
    border-top: none;
    border-bottom: none;
}

.request-list-border h3 {
    color: var(--dark-color-hover);
    margin-bottom: 0;
}

table.table-bordered > :not(caption) > * {
    border-width: 1px 1px;
}

table.table-bordered > thead > tr > th{
    border: none;
}

.custom-border {
    border: 1px solid #cbcdcb;
}

/* table {
    border:1px solid #16c000;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #c00000;
} */