@use 'variables' as v;
@use 'mixins' as m;

.form {
    max-width: 50rem;
    padding: 5rem 4rem;
    background-color: v.$light-gray;
    border-radius: v.$border-radius-rg;
    -webkit-border-radius: v.$border-radius-rg;
    -moz-border-radius: v.$border-radius-rg;
    -ms-border-radius: v.$border-radius-rg;
    -o-border-radius: v.$border-radius-rg;
    box-shadow: v.$box-shadow-sm;

    @include m.desktop {
        max-width: 130rem;
        padding: 9rem 10rem;
    }

    &--mandala {
        background-image: linear-gradient(to top, transparent 50%, v.$light-gray 0%), url('/assets/bg-form-rotated.png');
        background-position: center, bottom;
        background-repeat: repeat, no-repeat;
        background-size: 100%, 100% 50%;

        @include m.desktop {
            background-image: url('/assets/bg-form.svg');
            background-position: right;
            background-repeat: no-repeat;
            background-size: auto;
        }
    }

    &__heading {
        margin-bottom: 1rem;
        text-align: center;

        &--mandala {
            text-align: center;

            @include m.desktop {
                text-align: left;
            }
        }
    }

    &__subheading {
        font-weight: normal;
        font-size: v.$fs-large;
        text-align: center;
        padding: 3rem 0 3rem;
        margin: 0;
        
        &--mandala {
            text-align: center;

            @include m.desktop {
                text-align: left;
            }
        }

        &--table {
            font-weight: bold;
            margin: 2rem 0;
            padding: 0;

            @include m.desktop {
                text-align: left;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @include m.desktop {
            align-items: flex-start;
        }
    }

    &__link {
        font-size: v.$fs-normal;
    }

    .form__button {
        &-submit {
            @include m.button(v.$primary-color, v.$light-color);
        }
        
        &-back {
            @include m.button(v.$gray-color, v.$light-color);
        }
    }
}