@use 'variables' as v;
@use 'mixins' as m;

.form__input {
    text-align: left;
    padding: 0;

    &--mandala {
        @include m.desktop {
            width: 50%;
        }
    }

    &-label {
        padding-left: .2rem;
    }

    &-textfield,
    &-select,
    &-textarea {
        width: 100%;
        display: block;
        font-size: v.$fs-normal;
        padding: 1rem 1.5rem;
        margin: 1rem 0 2rem;
        border: 1px solid v.$light-gray;
        background-color: v.$light-color;
        border-radius: v.$border-radius-sm;
        -webkit-border-radius: v.$border-radius-sm;
        -moz-border-radius: v.$border-radius-sm;
        -ms-border-radius: v.$border-radius-sm;
        -o-border-radius: v.$border-radius-sm;
    }

    &-select {
        padding: 1.175rem 1.5rem;
    }

    &-textarea {
        resize: none;
    }

    @include m.desktop {
        padding: unset;

        &-textfield,
        &-select {
            margin: 1rem 0 3rem;
        }
    }

    &-radio {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: .5rem
    }

    &-text {
        text-transform: uppercase;
        font-weight: bold;

        &--pending {
            color: darken(v.$primary-color, 10);
        }

        &--inprocess {
            color: v.$warning-color;
        }

        &--completed {
            color: v.$success-color;
        }

        &--closed {
            color: v.$secondary-color;
        }

        &--deniend {
            color: v.$danger-color;
        }
    }
}

.form__check-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0 2rem;
    gap: 1.5rem;
    
    @include m.desktop {
        flex-direction: row;
        gap: 2rem;
    }
}