@use 'variables' as v;
@use 'mixins' as m;

// Removing Bootstrap custom styles
table.table-bordered > :not(caption) > * {
    border-width: 1px 1px;
}

table.table-bordered > thead > tr > th{
    border: none;
}

.form__table {
    text-align: center;
    font-size: v.$fs-normal;
    border: 1px solid darken(v.$light-color, 15);

    &--empty {
        font-style: italic;
        padding: v.$spacing-rg 0;
        margin-top: -1rem;
    }

    &-head {
        text-align: center;
        background-color: darken(v.$light-color, 10);
    }

    &-data {
        padding: 1rem 0 !important;
    }

    &-buttons {
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;

        @include m.desktop {
            flex-direction: row;
        }
    }
}