@use 'variables' as v;
@use 'mixins' as m;

.navegation {
    background-color: rgba(0, 93, 163, .65);
    line-height: 1;
    padding: 0;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__collapse {
        display: flex;
        justify-content: center;
    }

    &__toggler {
        color: v.$light-color;
        font-size: v.$fs-normal;
        padding: 1rem 0;

        &:hover {
            color: v.$light-color;
        }

        @include m.desktop {
            display: none;
        }
    }

    &__menu-logo {
        width: 25px;
    }

    &__navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        gap: 1rem;

        @include m.desktop {
            flex-direction: row;
            gap: unset;
        }
    }

    &__item {
        @include m.desktop {
            height: 50%;
            border-left: 1px solid #15aedd;
            
            &:first-child {
                border-left: none;
            }
        }
    }

    &__link {
        color: v.$light-color;
        font-size: v.$fs-medium;
        display: inline-block;
        padding: 1.2rem 2rem;

        transition: v.$hover-transition-1;
        -webkit-transition: v.$hover-transition-1;
        -moz-transition: v.$hover-transition-1;
        -ms-transition: v.$hover-transition-1;
        -o-transition: v.$hover-transition-1;    

        &:hover {
            color: v.$light-color;
            background-color:rgba(0, 93, 163, .85);
        }
        
        &--dropdown:hover {
            background-color: v.$primary-color;
        }
    }

    &__dropdown {
        color: v.$light-color;
        text-align: center;
        background-color: darken(rgba(0, 93, 163, .8), 5);

        @include m.desktop {
            background-color: darken(rgba(0, 93, 163, .65), 5);
        }
    }
}