@use 'variables' as v;
@use 'mixins' as m;

.container {
    max-width: 140rem;
    // width: 95%;
    margin: 0 auto;
}

.main {
    margin: 5rem 1.2rem;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-image {
    background-image: url(../images/bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;

    @include m.tablet {
        background-position: bottom;
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: v.$spacing-sm 0;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;

    @include m.desktop {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        margin: unset;
    }
}