<% case request.status
   when "pending" %>
<div class="col">
  <%= link_to change_status_request_path(request), class: "btn btn-sm btn-primary" do %>
    <i class="bi bi-pencil-square"></i>
    Atender
  <% end %>
</div>
<div class="col">
  <%= link_to edit_request_path(request), class: "btn btn-sm btn-primary" do %>
    <i class="bi bi-x-square"></i>
    Rechazar
  <% end %>
</div>
<% when "in_process" %>
<div class="col">
  <%= link_to "Editar asignaciones", edit_task_path(:request => request.id), class: "btn btn-sm btn-primary" %>
</div>
<% when "completed"%>
<div class="col">
  <%= link_to "Cerrar/Reabrir solicitud", edit_task_path(:request => request.id), class: "btn btn-sm btn-primary" %>
</div>
<% end %>
